.notification-wrapper {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 343px;
  gap: 13px;
  cursor: pointer;
  transition: all ease-in-out .5;

  @media (min-width: 800px) {
    width: 670px;
    gap: 8px;
  }
  &.unread {
    background: #f7fafd;
    border-radius: 8px;
  }
  .notification-img {
    height: 40px;
    width: 40px;
    justify-self: flex-start;
  }
  .notification-middle-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;

    .notification-middle-text-container {
      max-width: 249px;
      @media (min-width: 800px) {
        max-width: 100%;
      }
      &.unread {
        &::after {
          content: " ";
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background: #f65552;
          display: inline-block;
          margin-left: 6px;
        }
      }

      .text-name {
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
        color: #1c202b;
      }

      .text-action {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #5e6778;
      }

      .hightlight {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #5e6778;
      }
    }

    .notification-middle-time-container {
      .time-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #939cad;
      }
    }

    .notification-middle-message {
      background: #ffffff;
      border: 1px solid #dde7ee;
      border-radius: 5px;
      padding: 16px;
      margin-top: 12px;
      transition: all ease .5s;
      &:hover{
        background: #E5EFFA;
      }
      .notification-message {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #5e6778;
      }
    }
  }

  .notification-right-container {
    .second-img {
      width: 40px;
      height: 40px;
    }
  }
}
